# =====================
# PostgreSQL
# =====================
POSTGRES_USER=directus
POSTGRES_PASSWORD=directus
POSTGRES_DB=directus

DB_CLIENT=pg
DB_HOST=database
DB_PORT=5432
DB_DATABASE=directus
DB_USER=directus
DB_PASSWORD=directus

# =====================
# Directus core
# =====================
KEY=change-this-key
SECRET=change-this-secret
PUBLIC_URL=change-this-url

ADMIN_EMAIL=directus@example.org
ADMIN_PASSWORD=change-me-now

# =====================
# Cache / Redis
# =====================
CACHE_ENABLED=true
CACHE_STORE=redis
REDIS=redis://cache:6379

# =====================
# directus-sync
# =====================
DIRECTUS_URL=http://directus:8055
DIRECTUS_EMAIL=directus@example.org
DIRECTUS_PASSWORD=change-me-now
